//====================Обнуление============================
@import "_nullstyle";
//====================Обнуление============================
//====================Шрифт================================
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
//====================Шрифт================================
//====================Основные контейнеры==================
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: "Source Sans Pro";
   font-weight: 400;
}
.content {
   min-height: 100%;
}
.conteiner {
   min-height: 100%;
   padding: 10px 10px;
   max-width: 1170px;
   margin: 0 auto;
}
.home__conteiner {
   min-height: 100vh;
   padding: 40px 10px;
}
//====================Основные контейнеры==================
//====================Дублирующиеся классы=================
.title {
   text-transform: none;
   letter-spacing: normal;
   font-size: 36px;
   font-weight: 600;
   color: #1a1a1a;
}
.subtitle {
   font-size: 14px;
   line-height: 48px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   color: #008ed6;
}
.description {
   font-size: 18px;
   line-height: 20px;
   font-weight: 400;
   text-transform: none;
   letter-spacing: normal;
   color: #999999;
}
.button {
   width: 160px;
   height: 50px;
   text-align: center;
   font-size: 14px;
   line-height: 48px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   border-radius: 5px;
   cursor: pointer;
   user-select: none;
   transition: all 1s;
   &:hover {
      color: #3498db;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 165px;
   }
   &:active {
      position: relative;
      top: -1px;
   }
}
//====================Дублирующиеся классы=================
//====================Основные контейнеры==================

//====================Меню=================================
.mobile__menu {
   display: none;
}
.mobile__row {
   a {
      color: black;
   }
}
.head {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0) 80%);
   z-index: 5;
}
.head__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
}
.logo__title {
   display: inline-block;
   font-family: Quicksand;
   font-size: 24px;
   line-height: 58px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
}
.logo__subtitle {
   display: inline-block;
   opacity: 0.3;
   font-size: 9px;
   line-height: 10px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.14em;
   color: #ffffff;
}
.nav__row {
   a {
      font-size: 16px;
      line-height: 58px;
      font-weight: 600;
      color: #fffefe;
      margin: 0px 20px 0px 0px;
      padding: 0px 0px 10px 0px;
      transition: 0.2s;
   }
   a:last-child {
      margin: 0px 0px 0px 0px;
   }
   a:hover {
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-image: url("/lucid/img/icon/Head/prostok_t_2_837.png") 1 fill repeat;
   }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .head {
      position: static;
   }
   .head__nav {
      display: none;
   }
   .mobile__menu {
      padding: 10px 0 0 40px;
   }
   .mobile__row {
      display: flex;
      flex-direction: column;
      a {
         font-size: 30px;
         line-height: 20px;
         font-weight: 600;
         color: #fffefe;
         margin: 0px 0px 25px 0px;
      }
   }
}
@media screen and (max-width: 576px) {
}

//====================Меню бургер==========================
.head__burger {
   display: none;
   position: relative;
   height: 20px;
   width: 20px;
   cursor: pointer;
   top: 5px;
   span.active {
      background: #f000;
   }
   span,
   span::before,
   span::after {
      display: block;
      background-color: #ffffff;
      width: 30px;
      height: 2px;
      transition: 0.3s;
   }
   span::before,
   span::after {
      content: "";
      position: relative;
   }
   span::before {
      top: -10px;
      &:active {
         transform: rotate(45deg);
      }
   }
   span::after {
      top: 9px;
   }
   span.active::after {
      transform: rotate(45deg);
      top: -1px;
   }
   span.active::before {
      top: 0px;
      transform: rotate(-45deg);
   }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .head__burger {
      display: block;
      margin: 0px 15px 0px 0px;
   }
}
@media screen and (max-width: 576px) {
}
//====================Меню бургер==========================

//====================Меню=================================

//====================Шапка================================
.home {
   min-height: 100vh;
   background-size: 100%;
   background: url("/lucid/img/picture/Home/bg_806.png") center / cover no-repeat;
}
.home__row {
   padding: 100px 0 0 0;
   display: flex;
   justify-content: space-between;
}
.home__left {
   animation: leftHome 3s;
   animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes leftHome {
   0% {
      position: relative;
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.left__row {
   display: flex;
   flex-direction: column;
   max-width: 480px;
}
.home__title {
   font-size: 48px;
   line-height: 50px;
   font-weight: 600;
   color: #ffffff;
   margin: 15px 0px 20px 0px;
}
.left__buttons {
   display: flex;
   margin: 50px 0 0 0;
   div:nth-child(2) {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0px 0px 0px 20px;
   }
}
.home__btn {
   background-color: #008ed6;
   box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}

.button__features {
   box-shadow: inset 0px 0px 0px -2px #cecece;
   animation: btn 1.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   a {
      display: block;
      color: #ffffff;
      height: 100%;
      width: 100%;
   }
}

@keyframes btn {
   0% {
      box-shadow: inset 0px 0px 0px -2px #cecece;
   }
   100% {
      box-shadow: inset 0px 0px 18px -3px #cecece;
   }
}

.home__right {
   animation: rightHome 2s;
   animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes rightHome {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.home__img {
   img {
      max-width: 100%;
      max-height: 100%;
   }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .home__conteiner {
      padding: 10px 10px;
   }
   .home__row {
      padding: 20px 0 0 0;
      justify-content: center;
   }
   .home__right {
      display: none;
   }
   .left__row {
      justify-content: center;
      align-items: center;
   }
   .home__subtitle {
      font-size: 14px;
      line-height: 28px;
   }
   .home__title {
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      margin: 5px 0px 10px 0px;
   }
   .home__description {
      text-align: justify;
   }
}
@media screen and (max-width: 576px) {
   .left__buttons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0 0 0;
      div:nth-child(2) {
         margin: 10px 0px 0px 0px;
      }
   }
}
//====================Шапка================================
//====================features=============================
.features {
   padding: 50px 0;
   border-bottom: 1px solid #ededed;
}
.features__text {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 0px 50px 0px;
}
.textbody__row {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.features__subtitle {
   margin: 0px 0px 15px 0px;
}

.features__title {
   margin: 0px 0px 30px 0px;
}

.features__row {
   display: flex;
}
.features__card {
   padding: 0 30px;
}
.card__row {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 0 1 25%;
}
.card__img {
   width: 90px;
   height: 90px;
   border: 1px solid #e0e0e0;
   text-align: center;
   padding: 30px 0 0 0;
   border-radius: 50%;
   margin: 0px 0px 30px 0px;
   transition: 0.5s;
   &:hover {
      padding: 27px 0 0 0;
      box-shadow: inset 0px 0px 18px -3px #cecece;
   }
}
.card__title {
   text-align: center;
   font-size: 24px;
   line-height: 20px;
   font-weight: 400;
   color: #1a1a1a;
   margin: 0px 0px 15px 0px;
}
.card__text {
   text-align: center;
   font-size: 18px;
   line-height: 26px;
   color: #999999;
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .features {
      padding: 20px 0;
   }
   .features__text {
      margin: 0px 0px 20px 0px;
   }
   .features__row {
      flex-wrap: wrap;
      margin: 0px;
      padding: 0 20px;
   }
}
@media screen and (max-width: 576px) {
   .features__title {
      text-align: center;
   }
}
//====================features=============================
//====================About================================
.about {
   padding: 50px 0;
}
.about__row {
   display: flex;
   justify-content: space-around;
}
.about__img {
   img {
      max-width: 100%;
      max-height: 100%;
   }
}
.about__text {
   flex: 0 1 50%;
   margin: 50px 0px 0px 40px;
}
.abouttext__row {
   display: flex;
   flex-direction: column;
}
.about__title {
   margin: 0px 0px 30px 0px;
}

.abouttext__icon {
   margin: 0px 0px 20px 0px;
}
.about__description {
   margin: 0px 0px 25px 0px;
}

.about__list {
   font-size: 18px;
   line-height: 30px;
   font-weight: 400;
   text-transform: none;
   letter-spacing: normal;
   color: #1b1b1b;
   li {
      padding: 0 0 0 23px;
      margin: 0px 0px 15px 0px;
   }
   li:nth-child(1) {
      background: url("/lucid/img/icon/About/cup_881.png") left no-repeat;
   }
   li:nth-child(2) {
      background: url("/lucid/img/icon/About/mouse_885.png") left no-repeat;
   }
   li:nth-child(3) {
      background: url("/lucid/img/icon/About/energy_882.png") left no-repeat;
   }
   li:nth-child(4) {
      background: url("/lucid/img/icon/About/speedometer_883.png") left no-repeat;
   }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .about__img {
      display: none;
   }
}
@media screen and (max-width: 576px) {
}
//====================About================================
//====================testimonials=========================
.testimonials {
   padding: 50px 0;
   background-color: #f2f2f2;
}
.testimonials__row {
   display: flex;
}
.testimonials__text {
   flex: 0 1 50%;
   margin: 50px 0px 0px 0px;
}
.testimonials__title {
   margin: 0px 0px 25px 0px;
}
.testimonialstext__icon {
   margin: 0px 0px 20px 0px;
}
.testimonials__img {
   img {
      max-width: 100%;
      max-height: 100%;
   }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
//====================testimonials=========================
//====================plans================================
.plans {
   // display: flex;
   // flex-direction: column;
   padding: 50px 0 0 0;
   min-height: 100vh;
   background-size: 100%;
   background: url("/lucid/img/picture/plans/prostok_t_4_1101.png") center / cover no-repeat;
}
.plans__conteiner {
   flex: 1 0 auto;
   min-height: 100%;
   padding: 10px 10px 0px 10px;
}
.plans__text {
   text-align: center;
}
.plans__title {
   color: #ffffff;
   margin: 0px 0px 30px 0px;
}
.plans__texticon {
   margin: 0px 0px 80px 0px;
}
.plans__row {
   // display: flex;
   // flex-direction: column;
}

.swiper-container {
   max-width: 1170px;
   min-width: 0;
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   color: #ffff;
}

.slide__row {
   display: flex;
}
.slide__card {
   flex: 0 1 50%;
   padding: 0 30px;
}
.slide-card__row {
   text-align: left;
}
.slide-card__text {
   font-size: 24px;
   line-height: 32px;
}
.slide-card__user {
   display: flex;
   margin: 30px 0px 0px 0px;
}
.slide-card__logo {
   margin: 0px 15px 0px 0px;
}
.slide-card__name {
   text-align: left;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
}
.slide-card__job {
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
}
.plans-pagination__conteiner {
   display: flex;
   justify-content: center;
}
.swiper-pagination {
   display: flex;
   align-items: center;
}
.swiper-pagination-bullet {
   margin: 0px 7px 0px 0px;
   width: 11px !important;
   height: 11px !important;
   background: none !important;
   border: 2px solid rgb(255, 255, 255);
}
.swiper-pagination-bullet-active {
   background-color: #fff !important;
   width: 16px !important;
   height: 16px !important;
}
.get {
   flex: 0 0 auto;
   background-color: #15141a;
}
.get__row {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 170px;
}
.get__text {
   font-family: "Source Sans Pro";
   font-size: 36px;
   line-height: 48px;
   font-weight: 600;
   color: #ffffff;
   span {
      font-weight: 300;
   }
}
.get__buttons {
   display: flex;
}
.button__features {
   margin: 0px 15px 0px 0px;
}
.get-left__button {
   background-color: #008ed6;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
//====================plans================================
//====================prising==============================
.pricing {
   padding: 30px 0;
}
.pricing__text {
   text-align: center;
}
.pricing__title {
   margin: 0px 0px 25px 0px;
}
.pricing__texticon {
   margin: 0px 0px 30px 0px;
}
.pricing__row {
   display: flex;
   margin: 0 -20px;
}
.pricing__card {
   flex: 0 0 25%;
   padding: 0 20px;
}
.pricing-card__row {
   border: 1px solid #e0e0e0;
   text-align: center;
   padding: 30px 0;
}
.pricing-card__title {
   font-size: 24px;
   line-height: 20px;
   font-weight: 700;
   text-transform: uppercase;
   color: #1a1a1a;
   padding: 0 0 30px 0;

   border-bottom: 1px solid #e0e0e0;
}
.pricing-card__price {
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
   color: #999999;
   span:nth-child(1) {
      font-size: 48px;
      line-height: 20px;
      font-weight: 600;
      color: #1a1a1a;
   }
   span:nth-child(2) {
      font-size: 60px;
      line-height: 20px;
      font-weight: 600;
      color: #1a1a1a;
   }
   padding: 40px 0 20px 0;
   border-bottom: 1px solid #e0e0e0;
}
.pricing-card__text {
   font-family: "Source Sans Pro";
   font-size: 18px;
   line-height: 26px;
   font-weight: 400;
   color: #999999;
   span {
      color: #008ed6;
   }
   padding: 30px 20px;
}
.pricing-card__btn {
   display: inline-block;
   width: 162px;
   height: 52px;
   background-color: #ffffff;
   border: 1px solid #e0e0e0;
   font-size: 14px;
   line-height: 48px;
   font-weight: 700;
   text-transform: uppercase;
   color: #008ed6;
   margin: 15px 0px 0px 0px;
   cursor: pointer;
   &:hover {
      color: #e0e0e0;
      background-color: #3498db;
   }
}
.pricing-card__special {
   div:nth-child(1) {
      color: #008ed6;
   }
   div:nth-child(2) {
      background-color: #008ed6;
      color: #fafafa;
   }
   div:nth-child(2) > span {
      color: #fafafa;
   }
   div:last-child {
      background-color: #008ed6;
      color: #ffffff;
      &:hover {
         background-color: #ffffff;
         color: #008ed6;
         border: 1px solid #e0e0e0;
      }
   }
}
@media screen and (max-width: 992px) {
   .pricing__row {
      flex-wrap: wrap;
      margin: 0px;
   }
   .pricing__card {
      flex: 0 0 50%;
   }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
//====================prising==============================
//====================contact==============================

.contact {
   background-color: #ededed;
}
.contact__text {
   text-align: center;
}
.contact__title {
   margin: 0px 0px 20px 0px;
}
.contact__texticon {
   margin: 0px 0px 50px 0px;
}
.contact__row {
   display: flex;
   justify-content: space-around;
   margin: 0px 0px 60px 0px;
}
.contact-icon__card {
   width: 200px;
   font-size: 18px;
   line-height: 26px;
   font-weight: 400;
   color: #999999;
   text-align: center;
}
.contact__icon {
   margin: 0px 0px 20px 0px;
}
.message {
   position: relative;
   top: 20px;
   margin: 0 auto;
   width: 770px;
   height: 360px;
   background-color: #15141a;
}
.input__block {
   display: flex;
   padding: 50px 50px 20px 50px;
   textarea {
      width: 300px;
      height: 190px;
      background-color: rgba(0, 142, 214, 0);
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0px 0px 0px 19px;
      padding: 0 0 140px 20px;
   }
}
.user__info {
   display: flex;
   flex-direction: column;
   input {
      width: 300px;
      height: 50px;
      background-color: rgba(0, 142, 214, 0);
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0px 0px 20px 0px;
      padding: 0 0 0 20px;
   }
}
.message-btn__conteiner {
   display: flex;
   justify-content: flex-end;
   padding: 0 100px 0 0;
}
.message__btn {
   background-color: #008ed6;
   box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
   .message {
      display: none;
   }
}
@media screen and (max-width: 576px) {
}
//====================contact==============================
//====================Футер================================
.footer {
   background-color: #15141a;
}
.footer__row {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 160px;
}
.footer__icon {
   img {
      opacity: 0.2;
   }
   img:nth-child(3) {
      opacity: 1;
   }
   width: 225px;
}
.icon__row {
   display: flex;
   justify-content: space-between;
}

.footer__text {
   font-size: 14px;
   line-height: 48px;
   font-weight: 600;
   text-transform: uppercase;
   color: #444348;
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
//====================Футер================================
//====================Адаптив==============================
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
//====================Адаптив==============================
